*,
*::before,
*::after {
    box-sizing: border-box;
}

:root{
    --bg: #000000;
    --text: #ffffff;
    --text-less-dark: #888888;
    --text-dark: #666666;
    --text-darker: #444444;
    --accent: #00EA86;
    --accent-less-dark: #00BF6E;
    --accent-dark: #007543;
    --accent-darker: #01301C;

    --icon-stroke: 6px solid var(--accent);
}

body, .counter-input{
    margin: 0em;
    background-color: var(--bg);
    font-family: 'Heebo', sans-serif;
    /* font-family: "Helvetica Neue", sans-serif; */
    overflow: hidden;
}
::selection{
    background-color: transparent;
}
.app-body{
    position: absolute;
    width: 100%;
    height: 510px;
    top: calc(50% - 510px/2);
    
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}
.header-element{
    margin: 0em 0.5em;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 24px;
    position: static;
    height: 36px;
    /* left: calc(50% - 66px/2 - 2px);
    top: calc(50% - 36px/2); */
    /* Text Dark */
    background-color: #222222;
    border-radius: 60px;
    border: none;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    color: white;
    cursor:pointer;
}
select {
    /* styling */
    display: inline-block;
    font: inherit;
    line-height: inherit;
    width: 80px !important;
    
    /* reset */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image:
        linear-gradient(45deg, transparent 50%, var(--text-dark) 50%),
        linear-gradient(135deg, var(--text-dark) 50%, transparent 50%);
    background-position:
        calc(100% - 20px) calc(1em),
        calc(100% - 15px) calc(1em);
    background-size:
        5px 5px,
        5px 5px;
    background-repeat: no-repeat;

}
@-moz-document url-prefix() {
    select {padding: 3px 18px !important;}
}
select:focus{
    outline: none;
}

.counter-container{
    position:relative;
    margin-top: 0px;
    margin-bottom: -14px;
}
.counter-input, .counter-display{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    text-align: center;
    font-size: 6em;
    text-align: center;
    color: white;
    box-sizing:content-box;
    min-width: 100%;
    padding: 0px;
    position:absolute;
    top:0px;
}

@media (max-width:400px) { 
    .counter-container{
        margin-top: -12px;
        margin-bottom: -24px;
    }
    .counter-input, .counter-display{
        font-size: 6em; 
    }
    .counter-input{
        padding-top:2px;
    }
    .app-body{
        height: 485px;
        top: calc(50% - 485px/2);
    }
} 
@media (min-width:400px) { 
    .counter-container{
        margin-top: 0px;
        margin-bottom: -12px;
    }
    .counter-input, .counter-display{
        font-size: 7em; 
    }
    .app-body{
        height: 530px;
        top: calc(50% - 530px/2);
    }
}

.counter-input{
    padding: 0;
    margin: 0;
    display: inline-block;
}
.counter-input:focus{
    outline: none;
    user-select: all; /* standard syntax */
    -webkit-user-select: all; /* webkit (safari, chrome) browsers */
    -moz-user-select: all; /* mozilla browsers */
    -khtml-user-select: all; /* webkit (konqueror) browsers */
    -ms-user-select: all; /* IE10+ */
    padding: 0px 0px; 
    line-height: -2px;
    
}
/* Chrome, Safari, Edge, Opera */
.counter-input::selection{
    background-color: var(--accent-dark);
}
input::-moz-selection{
    background-color: var(--accent-dark);
}
.input::-moz-selection{
    background-color: var(--accent-dark);
}
.input::selection{
    background-color: var(--accent-dark);
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.counter-display{
    padding-top: 19px;
    padding-bottom: 19px;
}

.counter-display:after{
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 15%, rgba(0,0,0,0) 23%, rgba(0,0,0,0) 70%, rgba(0, 0, 0, 1) 85%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 15%,rgba(0,0,0,0) 23%,rgba(0,0,0,0) 70%,rgba(0, 0, 0, 1) 85%); /* Chrome10+,Safari5.1+ */
}

#incrementor, #decrementor{
    color: white;
    margin: 10px auto;
    font-size: 5em;
    text-align: center;
    cursor:pointer;
    -webkit-tap-highlight-color: transparent;
}

#incrementor::before {
    content: "";
    position: fixed;
    top: 45%;
    bottom: 0;
    left: 0;
    right: 0;
  }

.chevron-up, .chevron-down {
    box-sizing: border-box;
    position: relative;
    display: block;
    border: 6px solid var(--bg);
    border-radius: 120px;
    background-color: var(--accent-darker);
    }
.chevron-up::after, .chevron-down::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
} 
.chevron-up{
    width: 240px;
    height: 240px;
}
.chevron-up::after{
    border-top: var(--icon-stroke);
    border-right: var(--icon-stroke);
    transform: rotate(-45deg);
    width: 90px;
    height: 90px;
    left: 69px;
    bottom: 50px;
}
.chevron-down{
    width: 90px;
    height: 90px;
}
.chevron-down::after {
    border-bottom: var(--icon-stroke);
    border-right: var(--icon-stroke);
    transform: rotate(45deg);
    width: 30px;
    height: 30px;
    left: 24px;
    top: 17px;
} 
#decrementor{
    position:relative;
    bottom:50px;
}

.ripple {
    background-position: center;
    transition: 0.5s;
    background-color: var(--accent-darker);
    box-shadow: 3px 5px 0 red;
    border-color: var(--accent-darker);
    }
.ripple:hover {
    background-color: var(--accent-darker);
    transition: 2s;
    
}
.ripple:active {
    background-color: var(--accent-dark);
    border-color: var(--accent);
    background-size: 100%;
    box-shadow: 0 0 0;
    transition: 0s;
}

@keyframes ripple {
    0%   { transform: translate(-100%, -100%); }
    80%  { transform: translate(-100%, -100%) scale(50); }
    100% { transform: translate(-100%, -100%) scale(50); opacity: 0; }
}

@keyframes fade {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}


.odometer.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
    -webkit-transition-duration: 0.1s !important;
    -moz-transition-duration: 0.1s !important;
    -ms-transition-duration: 0.1s !important;
    -o-transition-duration: 0.1s !important;
    transition-duration: 0.1s !important
}

#confettiContainer{
    position:absolute;
    z-index: 2;
    width: 1px;
    margin: 1px auto;
    left: calc(50%);
}

.app-footer{
    position:absolute;
    width: 100%;
    z-index: -1;
    bottom: 18px;
    font-size: 14px;
    line-height: 14px;
    color:var(--text-dark);
    text-align: center;
    z-index: 3;
}
.app-footer a{
    color:var(--accent);
    text-decoration: none;
    cursor: pointer;
}

.app-footer a.secondary{
    color:var(--text-dark);
    text-decoration: none;
}

input[type=number] {
    text-align: center;
    width: 100%;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 2rem;
  border-radius: 10px;
}

#counterContainer{
    /**/
    position: relative;
    top: -30em;
}

.stilim {
    margin-bottom: 8.5em;
    display: block;
    width: 100%;
    padding: 5px;
}

.mystyle {
    width: 100%;
}
